# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

*.bin
*.dll
*.pdb
*.v2
*.vsidx
*.suo
*.wasm
*.map
*.dat
*.gz
*.props
*.targets
*.cache

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
Agent/.vscode/settings.json
AgentAPI/.vscode/settings.json
ApiGateway/.vscode/settings.json
Chat/.vscode/settings.json
Client/bin/Debug/net8.0/Client.staticwebassets.runtime.json
Client/bin/Debug/net8.0/dotnet.js
Client/bin/Debug/net8.0/dotnet.native.js
Client/bin/Debug/net8.0/dotnet.runtime.js
Client/bin/Debug/net8.0/wwwroot/service-worker-assets.js
Client/bin/Debug/net8.0/wwwroot/service-worker.js
Client/bin/Debug/net8.0/wwwroot/_framework/blazor.boot.json
Client/bin/Debug/net8.0/wwwroot/_framework/blazor.webassembly.js
Client/bin/Debug/net8.0/wwwroot/_framework/dotnet.js
Client/bin/Debug/net8.0/wwwroot/_framework/dotnet.js.gz
Client/bin/Debug/net8.0/wwwroot/_framework/dotnet.native.8.0.1.kye2m2axnf.js
Client/bin/Debug/net8.0/wwwroot/_framework/dotnet.runtime.8.0.1.s6sd77cw3p.js
Client/obj/Client.csproj.nuget.dgspec.json
Client/obj/project.assets.json
Client/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Client/obj/Debug/net8.0/blazor.boot.json
Client/obj/Debug/net8.0/blazor.build.boot-extension.json
Client/obj/Debug/net8.0/Client.AssemblyInfo.cs
Client/obj/Debug/net8.0/Client.csproj.BuildWithSkipAnalyzers
Client/obj/Debug/net8.0/Client.csproj.CopyComplete
Client/obj/Debug/net8.0/Client.csproj.CoreCompileInputs.cache
Client/obj/Debug/net8.0/Client.csproj.FileListAbsolute.txt
Client/obj/Debug/net8.0/Client.GeneratedMSBuildEditorConfig.editorconfig
Client/obj/Debug/net8.0/Client.GlobalUsings.g.cs
Client/obj/Debug/net8.0/service-worker-assets.js.build
Client/obj/Debug/net8.0/staticwebassets.build.json
Client/obj/Debug/net8.0/staticwebassets.development.json
Client/obj/Debug/net8.0/staticwebassets.pack.json
Client/obj/Debug/net8.0/scopedcss/Layout/MainLayout.razor.rz.scp.css
Client/obj/Debug/net8.0/scopedcss/Layout/NavMenu.razor.rz.scp.css
Client/obj/Debug/net8.0/scopedcss/bundle/Client.styles.css
Client/obj/Debug/net8.0/scopedcss/projectbundle/Client.bundle.scp.css
Client/obj/Debug/net8.0/service-worker/service-worker.js
plan.png
Session/.vscode/settings.json
ServiceAPI/.vscode/settings.json
Register/.vscode/settings.json
ProjectForTests/.vscode/settings.json
Posts/.vscode/settings.json
ManagerAPI/.vscode/settings.json
Manager/.vscode/settings.json
Login/.vscode/settings.json
Files/.vscode/settings.json
ProjectForTests/src/App.java
